/* MATCH
   ----------------------------- */
.match {
  .match__score {
    font-family: $alt-sans;
    font-size: 4rem;
    min-width: 4rem;  
  }

  .match__winner {
    .match__score {
      background: $yellow--500;
    }
  }
}