/* COMMON PAGES
   ----------------------------- */
.content-area {
  .container {
    width: 75%;
    padding-left: 10%;

    @media #{$breakpoint-lg-mx} {
      padding-left: 0;
    }

    @media #{$breakpoint-md-mx} {
      width: 100%;
    }
  }

  .sidebar {
    width: 25%;
    background: #000;

    @media #{$breakpoint-md-mx} {
      width: 20rem;
      right: -20rem;
      transition: right .2s ease-in-out;

      &.open {
        right: 0;
      }
    }

    .sidebar__label {
      color: #FFF;
      font-family: $alt-sans;
      font-size: $font--160;
    }

    .sidebar__ranked-team {
      color: #FFF;
      border-bottom: 1px solid #{$white--20};

      &:first-of-type {
        background: $yellow--500;
        margin: 0 -.5rem;
        color: #000;
        @extend .px1;
      }
    }
  }
}

.page-template .page {
  border-bottom: 1px solid #{$black--20};
}

/* HOME
   ----------------------------- */
.home .page {
  .page__header {
    background: url('../../assets/images/johnny.png') no-repeat 95% center;
    background-size: 20%;
  }

  .page__title {
    width: 50%;
    max-width: 30rem;
    font-family: $alt-sans;
    font-size: 6rem;
    font-weight: 800;
    line-height: .85;
    @extend .uppercase;
  }
}

/* POST > MATCH
   ----------------------------- */
.match {
  .match__score {
    font-family: $alt-sans;
    font-size: 4rem;
    min-width: 4rem;
  }

  .match__winner {
    .match__score {
      background: $yellow--500;
    }
  }
}