/* HEADER
   ----------------------------- */
.header {
  width: 75%;
  padding-left: 10%;
  background: $blue--500;

  @media #{$breakpoint-lg-mx} {
    padding-left: 0;
  }

  .header__nav {
    ul {
      @extend .m0;
      @extend .p0;

      li {
        @extend .list-reset;
        @extend .inline-block;
        @extend .pr2;;

        a {
          color: #FFF;
        }
      }
    }
  }
}