/* FONTS
   ----------------------------- */
$sans-serif: 'Roboto Condensed', sans-serif;
$alt-sans: 'New Grotesk Square', 'Roboto Condensed', sans-serif;

/* SIZES
   ----------------------------- */
$font--170: 1.73rem; // 26px
$font--160: 1.6rem; // 24px
$font--90: .9rem;
$main-font-size: 16px;
$spacer: 2rem;

/* COLORS
   ----------------------------- */
$blue--500: #256CCF;
$yellow--500: #FFEC1D;
$black--90: rgba(0,0,0,.9);
$black--40: rgba(0,0,0,.4);
$black--20: rgba(0,0,0,.2);
$white--20: rgba(255,255,255,.2);

/* MEDIA QUERIES
   ----------------------------- */
$breakpoint-sm-mx: '(max-width: 40em)';
$breakpoint-md-mx: '(max-width: 52em)';
$breakpoint-lg-mx: '(max-width: 64em)';

$c-breakpoint-smartphone-sm: '(max-width: 320px)';
$c-breakpoint-smartphone: '(max-width: 375px)';
$c-breakpoint-smartphone-lg: '(max-width: 650px)';
$c-breakpoint-tablet-sm: '(max-width: 990px)';
$c-breakpoint-tablet-lg: '(max-width: 1024px)';
$c-breakpoint-desktop-sm: '(max-width: 1280px)';
$c-breakpoint-desktop: '(max-width: 1440px)';
